/* BASE 16 ... SIZE 100% ... SCALE 1.5 */
$h1: 2.441rem;      /* 39.06px */
$h2: 1.953rem;      /* 31.25px */
$h3: 1.563rem;      /* 25px */
$h4: 1.25rem;       /* 20px */
$note: 0.8rem;      /* 12.8px */


/* MEDIUM VIEW */
$h1-md: 3.052rem;      /* 48.83px */
$h2-md: 2.441rem;      
$h3-md: 1.953rem;      
$h4-md: 1.563rem;       

/* LARGE VIEW */
$h1-lg: 3.815rem;      /* 61.04px */
$h2-lg: 3.052rem;      
$h3-lg: 2.441rem;      